/* || NOTE */
.notes-main {
  display: flex;
  min-height: 92.5vh;
}
.notes-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  background-color: var(--nav-icon-color);
}
.notes-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1.2rem;
}
.pinned-notes, .other-notes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem 0;
  gap: 0.8rem;
}


