/* || SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 20rem;
  min-height: 94vh;
  justify-content: space-between;
}
.sidebar-list {
  list-style: none;
}
.sidebar-item {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
}
.sidebar-item:hover {
  background-color: var(--nav-icon-color);
}
.sidebar-label {
  margin-left: 0.5rem;
}
.new-note-item {
  text-align: center;
  background-color: var(--status-online);
  color: var(--nav-title-color);
  padding: 0.8rem;
  margin: 0 0.8rem;
  cursor: pointer;
}

/* || PROFILE */
.profile-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-item {
  display: flex;
  align-items: center;
}

